#Data Types and Structures

1.What are data structures, and why are they important?
>A data structure is a way of formatting data so that it can be used by a computer program or other system.It is a way to store and perform various operations on computer data. A data structure is an effective technique to arrange data in a computer.

2.Explain the difference between mutable and immutable data types with examples

  Ans. Mutable data types can be changed after creation. We can add, remove, or update elements
    Examples include lists, dictionaries, and sets.

  Immutable data types cannot be changed after creation neither modified directly.
  examples:- String. tuples

3. What are the main differences between lists and tuples in Python?

  Lists: Mutable, meaning you can change their contents after creation (add, remove, or modify elements)
  Tuples: Immutable, meaning their contents cannot be changed after creation.

  Lists: Defined using square brackets [].
  Tuples: Defined using parentheses ().

  Lists: Consume more memory due to flexibility.
  Tuples: Consume less memory due to immutability.

4.Describe how dictionaries store data?
  
>>  Dictionaries in Python store data as key-value pairs. Think of it like a real-world dictionary where you look up a word (the key) to find its definition (the value).

5.Why might you use a set instead of a list in Python1?

  1.Removing duplicates
  2.Membership testing
  3.Set operations

6.What is a string in Python, and how is it different from a list?

  In Python, a string is a sequence of characters.  It's one of the fundamental data types used to represent text.  Think of it as a series of letters, numbers, symbols, and spaces strung together.
  string is immutable whereas list is not.Strings are designed specifically for representing and working with text, while lists are more general-purpose and can store collections of various data types.

7.How do tuples ensure data integrity in Python ?

  Tuples in Python ensure data integrity primarily through their immutability.
  Immutability Ensures Data Integrity through Accidental Modification Prevention, Data Consistency and Thread Safety

8.What is a hash table, and how does it relate to dictionaries in Python?

  Hash tables are a data structure that uses a hash function to map keys to storage locations, enabling fast data retrieval.Python dictionaries are built on top of hash tables, which explains their efficiency in storing and accessing data
  
  Python dictionaries are implemented using hash tables!

Keys as Identifiers: In a dictionary, the keys serve as the unique identifiers for the values.
Hash Function in Action: When you store a key-value pair in a dictionary, Python uses a hash function to calculate the index where that pair should be stored.
Fast Access: This allows Python to quickly retrieve values when you look them up using their keys, because it can directly calculate the storage location using the hash function.

9.Can lists contain different data types in Python?

  Yes,Lists in Python are incredibly flexible and can contain elements of different data types within the same list.  This is one of the features that makes them so useful.

10.Explain why strings are immutable in Python?

  Strings in Python are immutable primarily for reasons related to performance, memory efficiency, and thread safety.

11.What advantages do dictionaries offer over lists for certain tasks?

  1.Dictionaries are used to  quickly retrieve data based on a key.
  2.When you need to ensure uniqueness among items (e.g., storing unique usernames).
  3.When you want to improve code readability and organization by clearly associating keys with values.
  4.List Allows duplicate elements where as Dictionarie Enforce uniqueness among keys.

12.Describe a scenario where using a tuple would be preferable over a list?

  Geographic coordinates (latitude, longitude) are a perfect example. They represent a fixed pair of values that shouldn't change.

  A date (year, month, day) or a time (hour, minute, second) can be effectively represented as a tuple.

13.How do sets handle duplicate values in Python?

  Sets in Python are designed to store only unique elements. When you attempt to add a duplicate value to a set, the set simply ignores the addition; it doesn't raise an error, and the set remains unchanged.

  my_set = {1, 2, 3}

  my_set.add(2)  # Trying to add a duplicate

  print(my_set)  # Output: {1, 2, 3}  The set remains unchanged

  my_set.add(4)  # Adding a new, unique element

  print(my_set)  # Output: {1, 2, 3, 4}  The set is updated

14.How does the “in” keyword work differently for lists and dictionaries?

  The in keyword behaves quite differently for lists and dictionaries, mainly due to how these data structures are implemented.

  When you use in with a list:
  my_list = [10, 20, 30, 40]
  if 20 in my_list:
    print("20 is in the list")

  my_dict = {"a": 1, "b": 2, "c": 3}
  if "b" in my_dict:
    print("Key 'b' is in the dictionary")

Python can directly compute the hash of the key you're looking for and use that to quickly locate the key (and its associated value) within the dictionary. This is incredibly efficient, regardless of the dictionary's size.

15.Can you modify the elements of a tuple? Explain why or why not.

  No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, which means that once a tuple is created, its contents cannot be changed.  You cannot:

  Why are tuples immutable?

Immutability is a deliberate design choice that provides several benefits:

Data Integrity: Immutability ensures that the data in a tuple remains consistent and unchanged. This is crucial when you want to represent data that should not be altered, such as coordinates, database records, or configuration settings.

Thread Safety: In multi-threaded programs, where multiple threads might access the same data, immutability makes tuples inherently thread-safe. Since the data cannot be modified, there's no risk of race conditions or data corruption that can occur when multiple threads try to modify the same data simultaneously.

Hashability (for use in dictionaries and sets): Immutable objects can have a hash value that remains constant throughout their lifetime. This is essential for using tuples as keys in dictionaries or elements in sets.  If tuples were mutable, their hash values could change, which would break the functionality of dictionaries and sets.

Performance: Immutability allows Python to perform certain optimizations related to memory management and object sharing.

16.What is a nested dictionary, and give an example of its use case?

  A nested dictionary is a dictionary where the values associated with some or all of the keys are themselves dictionaries.  Think of it as a dictionary within a dictionary.  It's a way to represent hierarchical or structured data.

  myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

17.Describe the time complexity of accessing elements in a dictionary?

  he time complexity of accessing elements in a Python dictionary (using the key) is, on average, constant time, O(1).

  Hash Tables: Dictionaries are implemented using hash tables. A hash table is a data structure that uses a hash function to map keys to their corresponding values.

  Hash Function: When you access an element using its key (e.g., my_dict["key"]), Python calculates the hash value of the key. This hash value is then used to quickly locate the key-value pair within the hash table.

  Direct Access: Because of the hash function, Python can, on average, directly access the location where the key-value pair is stored. It doesn't need to search through the entire dictionary.

18.In what situations are lists preferred over dictionaries?

   Ordered Collections Where Order Matters
   When You Need Duplicate Elements
   Simple Iteration
   When Indices Are Important
   When Memory Usage Is a Primary Concern
   When You Need Mutable Sequences

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

  Dictionary term as an unordered collection of object because in dictionary we can use any type of data types . but in key datatype should be immutable type.

  How Unorderedness Affected Data Retrieval (Before Python 3.7):

No Reliance on Order: You could not rely on the order of elements when iterating through a dictionary. The order could be different each time you ran your code.
No Indexing: You could not access elements by index (like my_dict). Dictionaries are designed for key-based access (my_dict["key"]).

20.Explain the difference between a list and a dictionary in terms of data retrieval?

  In List we access by Index and in dictionaries we access by Key

#**Coding** **Question**

Write a code to create a string with your name and print it

In [1]:
my_name = "Raja Mondal"
print(my_name)

Raja Mondal

Write a code to find the length of the string "Hello World"

In [ ]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Write a code to convert the string "hello" to uppercase

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)
# Output: HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
my_string = "I will buy apple"
new_string = my_string.replace("apple", "orange")
print(new_string)
# Output: I like orange

Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
my_list = [i for i in range(1, 6)]
print(my_list)
# Output: [1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [2]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)
# Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list.remove(3)
print(my_list)
# Output: [1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [3]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)
# Output: b

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [5]:
my_list1= [10, 20, 30, 40, 50]
my_list1.reverse()
print(my_list1)
# Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [6]:
my_tuple = (100, 200, 300)
print(my_tuple)
 # Output: (100, 200, 300)

(100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [7]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)
# Output: blue

blue

Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [9]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(f"The minimum number in the tuple is: {min_number}")

The minimum number in the tuple is: 5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [10]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)
# Output: 1

1

Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [11]:
tuple = ("apple","mango","kiwi")
if "kiwi" in tuple:
     print("kiwi is in tuple")

kiwi is in tuple

Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [12]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)
#

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set={1, 2, 3, 4}
my_set.remove(4)
print(my_set)
#

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
union_set = my_set1.union(my_set2)
print(union_set)
#

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [13]:
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)
#

{2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)
#

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)
#

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
name = my_dict['name']
print(name)
# Output: Alice

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)
#

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")
#

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [15]:
 #Create a list
my_list = [1, 2, 3, "apple", 3.14]

# Create a tuple
my_tuple = (10, 20, 30, "banana", 6.28)

# Create a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Print the list
print("List:", my_list)

# Print the tuple
print("Tuple:", my_tuple)

# Print the dictionary
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 3.14]
Tuple: (10, 20, 30, 'banana', 6.28)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)
#

Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])
#

Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print("Combined dictionary (Method 1):", dict1)

Write a code to convert a list of strings into a set

In [16]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print("Set from List:", my_set)
#

Set from List: {'elderberry', 'apple', 'cherry', 'date', 'banana'}